* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header {
    background-color: #AEB6BF;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    background-size: cover;
}
  
header h1{
    font-weight: bold;
    margin: 0;
    font-size: 36px; 
}
    
header a {
    text-decoration: none;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }



header div ul li {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'calibri' 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.my-images {
    margin: 20px;
    flex: 1;
    display: flex;
    height: 500px;
    width: 500px;
    
}

.my-background h1 {
    align-items: center;
    font-size: xx-large;
}